# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/
/dist/

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Config files with secrets
configs/config.yaml
*.local.yaml

# Logs
*.log
logs/

# Temp files
tmp/
temp/

# env
.env

# other
/internal/ai/cmd/knowledge_cmd/config/
/manifest/config/
/manifest/docker/volumes/etcd/member/
/manifest/docker/volumes/etcd/member/snap/
/manifest/docker/volumes/etcd/member/wal/
/manifest/docker/volumes/milvus/data/
/manifest/docker/volumes/milvus/rdb_data/
/manifest/docker/volumes/milvus/rdb_data_meta_kv/
/manifest/docker/volumes/minio/.minio.sys/
/manifest/docker/volumes/minio/a-bucket/
